* {
    font-size: 10px;
    padding: 0;
    margin: 0;
}

#welcome-page {
    width: 100vw;
    height: 100vh;
}

#welcome-image {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#welcome-text {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6rem;
    padding: 2rem;
    background-color: #ffffff77;
    border-radius: 1rem;
}

#opening-hours {
    width: 100vw;
    height: 100vh;
    align-content: center;
    justify-content: center;
    background-image: radial-gradient(circle, #ffc3c3 0%, #ffc3c3 50%, #fcdc85);
}

#opening-hours-div {
    display: grid;
    width: 50%;
    height: 80%;
    background-color: #d6d6d633;
    margin: auto;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    text-align: center;
    padding: 5rem;
    border-radius: 10rem;
    border: #ffffff solid;
}

#opening-hours-div h2 {
    grid-column: 1 /span 2;
    font-size: 7rem;
}

#opening-hours-div p {
    font-size: 4.8rem;
}

#baked-goods-and-prices {
    width: 100vw;
    height: 100vh;
    align-content: center;
    justify-content: center;
    background-image: radial-gradient(circle, #ffcccc, #ffe9c0);
}

#baked-goods-and-prices-div {
    justify-content: center;
    align-content: center;
    background-color: #d6d6d633;
    padding: 2.5rem;
    border-radius: 5rem;
    border: #ffffff solid;
    margin: 0 30%;
}

#baked-goods-and-prices-div h2 {
    font-size: 7rem;
}

#baked-goods-and-prices-div p {
    font-size: 4.8rem;
}

.divider {
    width: 100vw;
    height: 1rem;
    background-color: #ff9f9f;
}

footer {
    background-color: #ff9f9f;
    display: grid;
    grid-template-columns: 46% 46%;
    column-gap: 8%;
    padding: 3rem 0 3rem 0;
}

footer h3 {
    font-size: 5.4rem;
    grid-row: 1 /span 2;
    justify-self: right;
}

footer p {
    font-size: 3.2rem;
}